/* All Variables should be declared here which makes it easier to update if something changes globally */

/*
 If prefixed with x- should only be assigned to other variables, not used on their own.
 If prefixed with c- this means the variable defines a colour
 If prefixed with s- this means the variable defines a sizing measurement
 If prefixed with f- this means the variable defines a font family
 If prefixed with g- this means the variable defines something global
*/

// Global Responsive variables - see breakpoint manager mixin
$g-phone-breakpoint-min-width: 375px; // 375px
$g-phablet-breakpoint-min-width: 560px; // 560px
$g-tablet-breakpoint-min-width: 768px; // 768px make sure this doesn't apply to ipad portrait
$g-desktop-breakpoint-min-width: 1024px; // 1024px
$g-desktop-large-breakpoint-min-width: 1280px; // 1280px allow for specific styles on very large screens

// Base Typography
$base-font-size: 1.8rem; // 18px - see base font-size reset in isobar-reset.scss
$base-line-height: 3rem; // 30px - should match the gutter size below

// Fonts
$f-fallback: Helvetica, Arial, sans-serif;
$f-global-font: 'Ubuntu', $f-fallback;
$f-heading-font: 'Ubuntu', $f-fallback;

// Spacing variable - IMPORTANT use tailwind spacing classes where possible, these should only be used in cases where tailwind is not possible

$spacing-0: 0;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 28px;
$spacing-8: 32px;
$spacing-9: 36px;
$spacing-10: 40px;
$spacing-11: 64px;
$spacing-12: 80px;


// Colour variables - split background colours and text colours
// If prefixed with x- should only be assigned to other variables, not used on its own.

// Greyscale Colors
$x-quartz-1200: #222222;
$x-quartz-900: #626262;
$x-quartz-700: #999999;
$x-quartz-500: #C4C4C4;
$x-quartz-300: #E1E1E1;
$x-quartz-200: #F6F6F6;
$x-quartz-100: #F9F9F9;

// Generic Colors
$black: $x-quartz-1200;
$white: #FFFFFF;

// Primary Brand Colors
$x-space: #1F2041; // $c-primary
$x-grape: #4B3F72; // $c-support
$x-opal: #9BC4BC; // $c-secondary
$x-max-yellow: #FFBF46; // $c-tertiary

// Secondary Brand Colors
$x-orange: #FBA137;
$x-brown: #B77426;
$x-turquise: #009E9E;
$x-light-grey: #F7F7F7;

// Functional Colors
$x-red: #E63329;
$x-green: #56A741;
$x-yellow: #FED662;

// See below example, by using $c-primary wherever needed it means if you want to 
// change that border colour to red for example, you don't have to change every
// reference to x-grey in all files - just do a simple variable swap in one place.

// Primary
$c-primary: $x-space;
$c-support: $x-grape;
$c-secondary: $x-opal;
$c-tertiary: $x-max-yellow;

// Secondary
$c-core-font: $c-primary;
$c-cta: $c-tertiary;
$c-links: $c-secondary;
$c-cta-support: $x-orange;
$c-cta-label: $c-primary;

// Functional
$c-success: $x-green;
$c-error: $x-red;
$c-alert: $x-yellow;

// Greyscale
$c-main-bg: $x-quartz-300;
$c-bg-secondary: $x-quartz-300;
$c-bg-light: $x-quartz-100;
$c-border: $x-quartz-300;
$c-border-card: $x-quartz-500;
$c-card-bg: $x-quartz-100;
$c-module-header-bg: $x-quartz-100;
$c-input-border: $x-quartz-500;
$c-black-copy: $x-quartz-1200;
$c-light-copy: $x-quartz-900;

// Overlay Opacity
$g-overlay-opacity: .6;

// Global box shadow value
$g-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .24);

// Global transition value
$g-transition-duration: .25s;
$g-transition-fast-duration: .2s;
$g-transition: all $g-transition-duration ease-in-out;
$g-transition-fast: all $g-transition-fast-duration ease-in-out;
