<!--
  * Component Name: TermsConditionModal
  * Description: Terms and condition content
  * Props: 
      title, content
  * Components:
      InlineSvg,
      HtmlContent
  * Usage:
      <generic-modal :title="value" :content="value">{{ value }}</component>
-->

<template>
  <div class="modal-mask" :class="modalReadyActive ? 'm-active' : ''">
    <div class="modal-bg" @click="close()"/>
    <div class="modal-wrapper" >
      <transition name="slide">
        <div class="modal-container" :class="modalReadyActive ? 'm-active' : ''">
          <div class="modal-header">
            <html-content
              v-if="modalContent.title"
              :content="modalContent.title"
            />
            <div class="close-modal" @click="close()">
              <close-icon />
            </div>
          </div>
          <div class="modal-body px-6 py-8">
            <html-content v-if="modalContent.content" :content="modalContent.content" />
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import MixinContent from '../mixins/MixinContent'

import HtmlContent from '../../components/utils/htmlContent.vue'

import CloseIcon from '../../assets/icons/close-icon.svg'

export default {
  name: 'TermsModal',
  props: {
    modalActive: {
      type: Boolean
    },
    content: {
      type: Object
    }
  },
  mixins: [MixinContent],
  components: {
    CloseIcon,
    HtmlContent
  },
  emits: ['close'],
  data () {
    return {
      modalReadyActive: false
    }
  },
  computed: {
    modalContent () {
      return {
        title: this.getContent(this.content, 'title.value', null),
        content: this.getContent(this.content, 'content.value', null)
      }
    }
  },
  created () {
    if (this.modalActive) {
      document.body.classList.add('fixed')
      setTimeout(() => { this.modalReadyActive = true }, 100)
    }
  },
  // eslint-disable-next-line vue/no-deprecated-destroyed-lifecycle
  destroyed () {
    document.body.classList.remove('fixed')
  },
  methods: {
    close () {
      this.modalReadyActive = false
      setTimeout(() => { this.$emit('close') }, 300)
    }
  }
}
</script>

<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: table;
  -webkit-transition: all .3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease;

  &.m-active {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
    z-index: 9999;
  }
}

.modal-bg {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  z-index: 10000;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  margin-left: auto;
  padding-bottom: 85px; //iphone fix
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,.33);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  overflow-y: hidden;
  left: 600px;

  @include media-query('phablet') {
    max-width: 440px;
  }

  @include media-query('desktop') {
    max-width: 504px;
    padding-bottom: 20px; //iphone fix
  }

  &.m-active {
    left: 0;
    transition: all .3s ease-in-out;
  }

  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $c-main-bg;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $c-main-bg;
  }
}

.modal-header {
  margin-top: 0;
  background-color: $c-primary;
  padding: 16px 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.0rem;
  font-weight: 500;
  line-height: 32px;
  color: $white;

  h3 {
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 32px;
    color: $white;
    margin: 0;
  }

  .close-modal {
    color: $white;
    cursor: pointer;
    background-color: transparent;
    z-index: 999;

  }
}

.modal-body {
  overflow-y: auto;
  height: 90vh;
  background: $white;
  border-radius: 8px;
  border: 1px solid $white;
  overflow-x: hidden;

  p,
  li {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
  }

  ul, 
  ol {
    list-style-type: disc;
    padding-left: 24px;

    li {
      margin-bottom: 16px;
    }
  }

  ol {
    list-style-type: decimal;
  }
}
</style>
