<!--
  * Component Name: InputSelect
  * Description: Select Input Type
  * Props: 
      inputClass, wrapperClass, disabled, label, subLabel,
      toolTip, errorMessage, options, placeholder
  * Components:
      
  * Usage:
      <input-select :propA="value" :propB="value" :propC="value" />
-->

<template>
  <div class="input-wrapper mb-6" :class="wrapperClass">
    <input-label
      :label="label"
      :label-class="labelClass"
      :for="name"
      :sub-label="subLabel"
    />
    <div class="select-container">
      <select
        v-model="modelName"
        :class="inputClass"
        :id="name"
        :name="name" 
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
      >
        <option v-if="placeholder" selected disabled :value="null">
          {{ placeholder }}
        </option>
        <option v-for="option in options" :key="option" :value="{ optionValue: option.value, optionText: option.text }">
          {{ option.text }}
        </option>
      </select>
    </div>
    <small class="form-error pl-4 mt-2" v-if="errorMessage">
      {{ errorMessage }}
    </small>
  </div>
</template>

<script>
import inputLabel from './InputLabel.vue'

export default {
  name: 'InputSelect',
  emits: ['update:modelValue', 'input'],
  props: {
    modelValue: {
      type: Array,
      default: null
    },
    name: {
      type: String,
      default: ''
    },
    inputClass: { 
      type: String,
      default: ''
    },
    wrapperClass: { 
      type: String,
      default: '' 
    },
    disabled: { 
      type: String,
      default: '' 
    },
    label: { 
      type: String,
      default: '' 
    },
    labelClass: {
      type: String,
      default: ''
    },
    subLabel: { 
      type: String,
      default: ''
    },
    errorMessage: { 
      type: String,
      default: '' 
    },
    options: { 
      type: Array,
      default: null
    },
    placeholder: { 
      type: String,
      default: ''
    },
    changeOnEvent: {
      type: Function,
      default: null
    }
  },
  data () {
    return {
       modelName : ''
    }
  },
  created () {
    this.modelName = { optionValue: this.options[0].value, optionText: this.options[0].text }
  },
  components: {
    inputLabel
  },
  watch: {
    modelName(newValue) {
      this.$emit('input', newValue)
    }
  }
}
</script>

<style lang="scss">
select option {
  font-weight: 500;
}
</style>