<!--
  * Component Name: InputText
  * Description: Component to handle all types of inputs
  * Props:
      inputType, inputClass, wrapperClass, placeholder, formMin, formMax, maxLength,
      name, disabled, label, labelClass, subLabel, toolTip, errorMessage, mode, pattern
  * Components:
  * Usage:
      <input-text :propA="value" :propB="value" :propC="value" />
-->
<template>
  <div class="input-wrapper">
    <input-label
      :label="label"
      :label-class="labelClass"
      :for="name"
      :sub-label="subLabel"
    />
    <div class="field-loading-container">
      <input
        v-model.lazy="modelName"
        :type="inputType"
        :placeholder="placeholder"
        :min="formMin"
        :max="formMax"
        :maxlength="maxLength"
        :name="name"
        :disabled="disabled"
        :class="inputClass"
        :pattern="pattern"
        :inputmode="mode"
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        @blur="[blurOnEvent($event), stripInputSpaces()]"
        @change="changeOnEvent"
        @keypress="keyPressEvent"
        class="p-4 mb-1"
      />
    </div>
    <small class="form-error" v-if="disabledError === false" v-html="errorMessage">
    </small>
  </div>
</template>

<script>
import inputLabel from './InputLabel.vue'

export default {
  name: 'InputText',
  emits: ['update:modelValue', 'input', 'blur'],
  props: {
    modelValue: {
      type: String,
      default: ''
    },
    inputType: {
      type: String,
      default: 'text'
    },
    inputClass: {
      type: String,
      default: null
    },
    wrapperClass: {
      type: String,
      default: null
    },
    placeholder: {
      type: String,
      default: null
    },
    formMin: {
      type: Number,
      default: null
    },
    formMax: {
      type: Number,
      default: null
    },
    maxLength: {
      type: Number,
      default: null
    },
    name: {
      type: String,
      default: null
    },
    disabled: {
      type: String,
      default: null
    },
    label: {
      type: String,
      default: null
    },
    labelClass: {
      type: String,
      default: null
    },
    subLabel: {
      type: String,
      default: null
    },
    errorMessage: {
      type: String,
      default: null
    },
    mode: {
      type: String,
      default: null
    },
    pattern: {
      type: String,
      default: null
    },
    providerName: {
      type: String,
      default: null
    },
    blurOnEvent: {
      type: Function,
      default: () => ({})
    },
    changeOnEvent: {
      type: Function,
      default: () => ({})
    },
    keyPressEvent: {
      type: Function,
      default: () => ({})
    },
    modelVal: {
      type: String,
      default: ''
    },
    disabledError: {
      type: Boolean,
      default: false
    },
    stripSpaces: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
       modelName : ''
    }
  },
  components: {
    inputLabel
  },
  methods: {
    stripInputSpaces () {
      if (this.stripSpaces) {
        this.modelName = this.modelName.split('').filter(e => e.trim().length).join('')
      }
    }
  },
  watch: {
    modelName(newValue) {
      this.$emit('input', newValue)
    }
  }
}
</script>