<!--
  * Component Name: InputSelect
  * Description: Select Input Type
  * Props: 
      inputClass, wrapperClass, disabled, label, subLabel,
      toolTip, errorMessage, options, placeholder
  * Components:
      
  * Usage:
      <input-select :propA="value" :propB="value" :propC="value" />
-->

<template>
  <div class="input-wrapper mb-6" :class="wrapperClass">
    <div class="dropdown">
      <input-label
        :label="label"
        :label-class="labelClass"
        :for="name"
        :sub-label="subLabel"
        @click="opened = !opened"
      />
      <div class="opener" @click="opened = !opened">
        {{ modelName.optionText }}
      </div>
      <div class="dropdown-list" :class="{ 'opened' : opened }">

        <ul>
          <li v-for="(option, index) in options" :key="index" :value="{ optionValue: option.value, optionText: option.text }" @click="setValue(option)">
            <span :class="{'check' : modelName.optionText === option.text}">{{ option.text }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="mobile-mask" :class="{ 'm-active' : opened }">
      <div class="mobile-bg"/>
      <div class="mobile-list" :class="{ 'opened' : opened }">
        <ul>
          <li v-for="(option, index) in options" :key="index" :value="{ optionValue: option.value, optionText: option.text }" @click="setValue(option)">
            <span :class="{ 'select-text': modelName.optionText === option.text}">{{ option.text }}</span>
            <div class="radio-btn" :class="{ 'select-radio': modelName.optionText === option.text}"></div>
          </li>
        </ul>
      </div>
    </div>
    <small class="form-error pl-4 mt-2" v-if="errorMessage">
      {{ errorMessage }}
    </small>
  </div>
</template>

<script>
import inputLabel from './InputLabel.vue'

export default {
  name: 'InputDropdown',
  emits: ['update:modelValue', 'input'],
  props: {
    modelValue: {
      type: Array,
      default: null
    },
    name: {
      type: String,
      default: ''
    },
    inputClass: { 
      type: String,
      default: ''
    },
    wrapperClass: { 
      type: String,
      default: '' 
    },
    disabled: { 
      type: String,
      default: '' 
    },
    label: { 
      type: String,
      default: '' 
    },
    labelClass: {
      type: String,
      default: ''
    },
    subLabel: { 
      type: String,
      default: ''
    },
    errorMessage: { 
      type: String,
      default: '' 
    },
    options: { 
      type: Array,
      default: null
    },
    placeholder: { 
      type: String,
      default: ''
    },
    changeOnEvent: {
      type: Function,
      default: null
    }
  },
  data () {
    return {
      modelName : '',
      opened: false
    }
  },
  methods: {
    setValue (option) {
      this.modelName = { optionValue: option.value, optionText: option.text }
      this.opened = false
    }
  },
  mounted () {
    if(this.options.length) {
      this.modelName = { optionValue: this.options[0].value, optionText: this.options[0].text }
    }
  },
  components: {
    inputLabel
  },
  watch: {
    modelName(newValue) {
      this.$emit('input', newValue)
    },
    options(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.modelName = { optionValue: newValue[0].value, optionText: newValue[0].text }
      }
    },
    opened () {
      const dropList = document.getElementsByClassName('dropdown-list')
      for (let i=0; i < dropList.length; i++) {
        if ((dropList[i].className).includes('opened')) {
            dropList[i].className = (dropList[i].className).replace('opened', '')
        }
      }
    }
  }
}
</script>

<style lang="scss">
select option {
  font-weight: 400;
}

select {
  display: none;
}

.dropdown {
  position: relative;
  max-width: 100%;
}

.dropdown {
  flex: 1;
}

.opener {
  display: inline-block;
  padding: 10px 16px;
  background-color: $white;
  border: solid 1px $x-quartz-500;
  border-radius: 4px;    
  color: $c-primary;
  cursor: pointer;
  font-size: 16px; 
  line-height: 28px;
  height: 48px;

  span {
    flex: 1 0 calc(100% - 32px);
    overflow: hidden;
    white-space: nowrap;
  }
}


.opener {
  font-size: 16px; 
  line-height: 28px;
  @include flex-parent(row, nowrap, space-between, center);
  user-select: none;

  svg {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
}

.dropdown-list {
  font-size: 16px; 
  line-height: 28px;
  display: none;
  z-index: 99;
  position: absolute;
  top: 78px;
  left: 0;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 1px solid #EAEAEA;
  padding: 8px;
  min-width: 100%;
  max-height: 136px;
  overflow-y: none;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;      
    overflow: auto;
    max-height: calc(136px - 16px);
  }

  li {
    @include flex-parent(row, nowrap, flex-start, center);
    margin-top: 8px;
    cursor: pointer;
    user-select: none;
    color: $x-quartz-1200;
    font-size: 14px;
    line-height: 24px;

    &:first-child {
      margin-top: 0;
    }

    svg {
      fill: currentColor;
      width: 16px;
      height: 16px;
      margin-right: 7px;

      path {
        fill: currentColor;
      }
    }

    span {
      margin-left: 23px;
    }

    .check {
      margin-left: 0;
    }
  }

  &.opened {
    display: none;

    @include media-query('phablet') {
      display: block;
    }
  }
}

.mobile-list {
  font-size: 16px; 
  line-height: 28px;
  display: none;
  z-index: 99;
  position: absolute;
  top: 180px;
  background-color: $white;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  max-width: 300px;
  width: 100%;
  max-height: 340px;
  overflow-y: scroll;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;      
    overflow: auto;
    max-height: calc(340px - 16px);
    width: 100%;
  }

  li {
    @include flex-parent(row, nowrap, space-between, center);
    margin-top: 8px;
    cursor: pointer;
    user-select: none;
    color: $x-quartz-1200;
    font-size: 14px;
    line-height: 24px;
    border-bottom: 1px solid #EAEAEA;
    padding: 8px;

    &:first-child {
      margin-top: 0;
    }

    svg {
      fill: currentColor;
      width: 16px;
      height: 16px;
      margin-right: 7px;

      path {
        fill: currentColor;
      }
    }

    .radio-btn {
      width: 24px;
      height: 24px;
      border: 2px solid $x-quartz-500;
      background-color: $white;
      border-radius: 100px;

      &.select-radio {
        background-color: $white;
        border: 2px solid $c-primary;
        position: relative;

        &::after {
          content: '';
          width: 16px;
          height: 16px;
          background-color: $c-primary;
          border-radius: 100px;
          position: absolute;
          right: 2px;
          top: 2px;
        }
      }
    }
  }

  &.opened {
    display: block;
    margin: 10px;

    @include media-query('phablet') {
      display: none;
    }
  }
}

.mobile-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: table;
  -webkit-transition: all .3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease;

  &.m-active {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-query('phablet') {
      display: none;
    }
  }
}

.mobile-bg {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

</style>