<!--
  * Component Name: InputLabel
  * Description: Label for inputs
  * Props: 
      label, subLabel, tooltip, labelClass, name
  * Components:
      
  * Usage:
      <input-label :label="value" :subLabel="value" :propC="value" />
-->

<template>
  <div class="label-wrapper" :class="labelClass">
    <label v-if="label" class="mb-1" :for="name">
      {{ label }}
    </label>

    <div v-if="subLabel" v-html="subLabel" class="label-info mb-1" />
  </div>
</template>

<script>

export default {
  name: 'InputLabel',
  props: {
    label: {
      type: String,
      default: ''
    },
    subLabel: {
      type: String,
      default: ''
    },
    labelClass: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    }
  },
  components: {
  },
  data() {
    return {
      showTooltip: false
    }
  },
  methods: {}
}
</script>

<style lang="scss">
.label-wrapper label {
  display: block;
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 500;
  color: $c-core-font;
}

.label-info,
.label-info p {
  font-size: 1.4rem;
  line-height: 20px;
  color: $black;
  font-weight: 500;
}

.label-info p {
  margin: 0px;
}
</style>
