<!-- 
  * Component: Button
  * Description: Global CTA Button
  * Props: 
      disabled, variant, type, loading, leftArrow, rightArrow
  * Usage:
      <cta-button
        :href=""
        :disabled="false" 
        :variant="value" 
        :type="value"
        :loading="loading"
        :leftArrow="false"
        :rightArrow="false"
        >
        {{ slotValue }}
      </cta-button>
-->

<template>
  <component
    :is="btnTag"
    :to="href"
    :class="[addClass, btnVariants]"
    :disabled="disabled"
    :type="btnTag === 'button' ? type : null"
    :loading="loading"
    :left-arrow="leftArrow"
    :right-arrow="rightArrow"
  >
    <left-arrow-icon v-if="leftArrow" class="icon-left" />
    <slot></slot>
    <load-icon v-if="loading" class="spinner" />
    <left-arrow-icon v-if="rightArrow" class="icon-right" />
  </component>
</template>

<script>

import leftArrowIcon from '../../assets/icons/arrow-icon.svg'
import loadIcon from '../../assets/icons/load-icon.svg'

export default {
  name: 'CtaButton',
  components: {
    leftArrowIcon,
    loadIcon
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    href: {
      type: String,
      default: ''
    },
    variant: {
      type: String,
      default: 'primary'
    },
    addClass: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'button'
    },
    loading: {
      type: Boolean,
      default: false
    },
    leftArrow: {
      type: Boolean,
      default: false
    },
    rightArrow: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    btnTag() {
      if (this.href) {
        return 'router-link'
      } else {
        return 'button'
      }
    },
    btnVariants() {
      switch(this.variant) {
        case 'primary':
            return 'cta-btn m-primary'
        case 'primary-rectangle':
            return 'cta-btn m-primary m-rectangle'
        case 'primary-small':
            return 'cta-btn m-primary m-small'
        case 'primary-small-rectangle':
            return 'cta-btn m-primary m-small m-rectangle'
        case 'primary-large':
            return 'cta-btn m-primary m-large'
        case 'primary-large-rectangle':
            return 'cta-btn m-primary m-large m-rectangle'
        case 'secondary':
            return 'cta-btn m-secondary'
        case 'secondary-rectangle':
            return 'cta-btn m-secondary m-rectangle'
        case 'secondary-small':
            return 'cta-btn m-secondary m-small'
        case 'secondary-small-rectangle':
            return 'cta-btn m-secondary m-small m-rectangle'
        case 'secondary-large':
            return 'cta-btn m-secondary m-large'
        case 'secondary-large-rectangle':
            return 'cta-btn m-secondary m-large m-rectangle'
        case 'secondary-alt':
            return 'cta-btn m-secondary-alt'
        case 'secondary-alt-rectangle':
            return 'cta-btn m-secondary-alt m-rectangle'
        case 'secondary-alt-small':
            return 'cta-btn m-secondary-alt m-small'
        case 'secondary-alt-small-rectangle':
            return 'cta-btn m-secondary-alt m-small m-rectangle'
        case 'secondary-alt-large':
            return 'cta-btn m-secondary-alt m-large'
        case 'secondary-alt-large-rectangle':
            return 'cta-btn m-secondary-alt m-large m-rectangle'
        case 'tertiary':
            return 'cta-btn m-tertiary'
        case 'naked':
            return ''
        default:
            return 'cta-btn m-primary'
      }
    }
  }
}
</script>

<style lang="scss">

.cta-btn {
  font-family: $f-global-font;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: 45px;
  border-radius: 100px;
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  svg {
    top: 0.0625rem;
  }

  &:hover,&:active,&:focus {
    text-decoration: none;
  }

  .spinner {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .icon-left {
    margin-right: 4px;
    font-size: 1.8rem;
    fill: none;
  }

  .icon-right {
    margin-left: 4px;
    font-size: 1.8rem;
    fill: none;
    transform: rotate(180deg);
  }

  &:disabled {
    pointer-events: none;
    opacity: .5;
  }

  /*----- sizes -----*/

  &.m-large {
    min-width: 213px;
    height: 64px;
    font-size: 2rem;
    line-height: 3.2rem;

    .spinner {
      width: 24px;
      height: 24px;
      margin-left: 16px;
    }
  }

  &.m-small {
    min-width: 135px;
    height: 48px;
    font-size: 1.6rem;
    line-height: 3.2rem;
  }

  &.m-full {
    min-width: 100%;
  }

  /*----- button colors -----*/

  &.m-primary {
    color: $c-cta-label;
    background-color: $c-cta;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

    &:active,
    &:focus {
      box-shadow: inset 0 0 0 2px $c-cta-support, 0 4px 4px rgba(0, 0, 0, .25);
    }
  
    &:hover {
      background-color: $c-cta-support;
      cursor: pointer;
    }
  }

  &.m-secondary {
    color: $c-cta-label;
    background-color: $white;
    box-shadow: inset 0 0 0 2px $c-cta-label;

    &:active,
    &:focus,
    &:hover {
      color: $white;
      background-color: $c-cta-label;
      cursor: pointer;
    }
  }

  &.m-secondary-alt {
    color: $white;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $white;

    &:active,
    &:focus,
    &:hover {
      color: $white;
      background-color: $c-primary;
      cursor: pointer;
    }
  }

  &.m-tertiary {
    color: $c-cta-label;
    background-color: transparent;

    &:active,
    &:focus {
      color: $c-cta-support;
    }
  
    &:hover {
      color: $c-cta-support;
      transition: color .2s linear;
      cursor: pointer;
    }
  }

  /*----- button shapes -----*/

  &.m-rectangle {
    border-radius: 4px;
  }
}

</style>