<template>
  <span class="link-element">
    <a
      v-if="isExternal || openNewWindow || phoneNumber"
      :href="phoneNumber ? 'tel:' + dynamicNum : url"
      :class="addClass"
      :target="openNewWindow === true ? '_blank' : ''"
      :data-gtm="gtm"
    >
      {{ linkText }}
    </a>

    <cta-button 
      v-if="!isExternal && !openNewWindow" 
      :href="url"
      :variant="styleOptions"
      :add-class="addClass"
      :data-gtm="gtm"
    >
      {{ linkText }}
      <slot></slot>
    </cta-button>
  </span>
</template>

<script>
import CtaButton from '../buttons/CtaButton.vue'
import MixinContent from '../mixins/MixinContent'

export default {
  props: {
    content:{
      type: Object,
      default() {
        return {}
      }
    },
    addClass: {
      type: String,
      default: ''
    },
    showChevron: {
      type: String
    },
    to: {
      type: String,
      default: ''
    },
    gtm: {
      type: String,
      default: ''
    }
  },
  mixins: [MixinContent],
  components: {
    CtaButton
  },
  computed: {
    linkText () {
      return this.getContent(this.content, 'link_text.value')
    },
    url () {
      const externalLink = this.getContent(this.content, 'external_link.value', '').replace('{{PHONENUMBER}}', `${this.dynamicNum}`) || ''
      const siteLink = this.getContent(this.content, 'site_link.value[0].url.value', '')
      const to = this.to

      return externalLink || siteLink || to
    },
    isExternal () {
      return this.getContent(this.content, 'external_link.value') ? true : false
    },
    openNewWindow () {
      return this.getContent(this.content, 'open_in_new_window.value[0].codename', 'no') === 'yes'
    },
    phoneNumber () {
      return this.getContent(this.content, 'phone_number.value[0].codename', 'no') === 'yes'
    },
    dynamicNum () {
      return this.getStoreConfig('transactionInfo.telephoneNumber')
    },
    styleOptions () {
      return this.getContent(this.content, 'style_options.value[0].codename', 'naked')
    }
  }
}
</script>
