<script>
import { mapState } from 'vuex'
import lodashGet from 'lodash.get'

const emptyRichText = '<p><br></p>'

export default {
  data () {
    return {
    }
  },
  computed: {
    ...mapState({
      contentCampaignHeader: state => state.global.campaignHeader,
      contentCampaignFooter: state => state.global.campaignFooter,
      contentHeader: state => state.global.header,
      contentFooter: state => state.global.footer,
      contentPage: state => state.pages.pageContent,
      contentConfig: state => state.global.config,
      contentOptions: state => state.global?.options,
      contentCookieOptions: state => state.global.cookieOptions,
      contentHomepage: state => state.homepage.homepage,
      storeConfig: state => state.storeConfig
    })
  },
  methods: {
    getStoreConfig (path, defaultValue = '') {
      const content = lodashGet(this.storeConfig, path, defaultValue)
      return this.cleanRichText(content)
    },
    getContentCampaignHeader (path, defaultValue = '') {
      const content = lodashGet(this.contentCampaignHeader, path, defaultValue)
      return this.cleanRichText(content)
    },
    getContentCampaignFooter (path, defaultValue = '') {
      const content = lodashGet(this.contentCampaignFooter, path, defaultValue)
      return this.cleanRichText(content)
    },
    getContentHeader (path, defaultValue = '') {
      const content = lodashGet(this.contentHeader, path, defaultValue)
      return this.cleanRichText(content)
    },
    getContentFooter (path, defaultValue = '') {
      const content = lodashGet(this.contentFooter, path, defaultValue)
      return this.cleanRichText(content)
    },
    getContentPage (path, defaultValue = '') {
      const content = lodashGet(this.contentPage, path, defaultValue)
      return this.cleanRichText(content)
    },
    getContentConfig (path, defaultValue = '') {
      const content = lodashGet(this.contentConfig, path, defaultValue)
      return this.cleanRichText(content)
    },
    getContentOptions (path, defaultValue = '') {
      const content = lodashGet(this.contentOptions, path, defaultValue)
      return this.cleanRichText(content)
    },
    getContentCookieOptions (path, defaultValue = '') {
      const content = lodashGet(this.contentCookieOptions, path, defaultValue)
      return this.cleanRichText(content)
    },
    getContentHomepage (path, defaultValue = '') {
      const content = lodashGet(this.contentHomepage, path, defaultValue)
      return this.cleanRichText(content)
    },
    getContent (object, path, defaultValue = '') {
      const content = lodashGet(object, path, defaultValue)
      return this.cleanRichText(content) || defaultValue
    },
    cleanRichText (content) {
      return content === emptyRichText ? '' : content
    }
  }
}
</script>
