<template>
  <global-header />
  <router-view />
</template>

<script>
import GlobalHeader from '@/components/global/GlobalHeader.vue'
export default {
  name: 'Layout',
  components: {
    'global-header': GlobalHeader
  }
}
</script>

<style>

</style>