<!-- =========================================================================================
    File Name: Login.vue
    Description: Login Page
========================================================================================== -->

<template>
  <div class="login-page h-full flex justify-center items-center">
    <div class="grid-container mx-auto py-10 xxl:py-11 px-4 xxl:px-6">
      <div class="grid gap-x-4 grid-cols-4 md:grid-cols-8 xl:grid-cols-12">
        <div class="col-span-full xl:col-span-5 xl:col-start-2">
          <div class="login-content h-full flex justify-center items-center">
            <h1 class="display">
              Welcome to <br> Firestore Starter
            </h1>
          </div>
        </div>
        <div class="col-span-full xl:col-span-5 xl:col-start-7">
          <login-form />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm from '@/components/forms/LoginForm.vue'

export default {
  components: {
    'login-form': LoginForm
  }
}
</script>

<style lang="scss">
.login-page {
  background-color: $c-support;
}

.login-content {
  background-color: $c-primary;
  
  h1 {
    color: $white;
  }
}
</style>