<template>
  <div class="todo-page">
    <div class="grid-container mx-auto py-10 xxl:py-11 px-4 xxl:px-6">
      <div class="grid gap-x-4 grid-cols-4 md:grid-cols-8 xl:grid-cols-12">
        <div class="col-span-full xl:col-span-4 xl:col-start-1">
          <todo-collection />
        </div>
        <div class="col-span-full xl:col-span-7 xl:col-start-6">
          ADD todo
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import todoCollection from '@/components/todos/todoCollection.vue'

export default {
  name: 'todo',
  components: {
    todoCollection
  },
  data() {
    return {
      todo: {
        title: '',
        description: '',
        complete: false
      }
    }
  },
  methods: {

    // addTodo () {
    //   var data = {
    //     title: this.tutorial.title,
    //     description: this.tutorial.description,
    //     complete: false
    //   }

    //   TodoDataService.createTodo(data)
    //     .then(() => {
    //       console.log('Created new item successfully!')
    //       this.submitted = true
    //     })
    //     .catch(e => {
    //       console.log(e)
    //     })
    // }
  }
}
</script>

<style lang="scss">
.menu-list-item {
  border-bottom: 1px solid transparent;
  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
    padding-left: $spacing-2;
    border-bottom: 1px solid $c-border;
  }
}
</style>