/*=====================================
=            Form Defaults            =
=====================================*/

::placeholder {
  font-family: $f-global-font;
  font-size: 1.6rem;
  font-weight: 500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:first-line {
  font-family: $f-global-font;
  font-size: 1.6rem;
}

.form-group-container {
  @include flex-parent(column, wrap, flex-start, flex-start);
  width: 100%;
}

.input-group {
  position: relative;
  width: 100%;
}

.inline-input-group {
  @include flex-parent(row, nowrap, space-between, flex-end);
}

.dob-input-group {
  @include flex-parent(row, wrap);
}

.select-group {
  @include flex-parent(row, nowrap);
}

.select-container select {
  background-image: url('../icons/select-icon.svg');
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

input[type='number']:-webkit-inner-spin-button,
input[type='number']:-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.input-wrapper {
  width: 100%;

  &.m-half {
    @include media-query('phablet') {
      flex: 1 1 50%;
    }
  }

  &.m-third {
    flex: 1 1 30%;
  }
}

.input-wrapper input[type='text'],
.input-wrapper input[type='password'],
.input-wrapper input[type='email'],
.input-wrapper input[type='number'],
.input-wrapper input[type='tel'],
.input-wrapper textarea,
.input-wrapper select,
.input-wrapper .select-toggle {
  padding: 0 $spacing-3;
  width: 100%;
  outline: 0;
  border-radius: 4px;
  border: 1px solid $c-input-border;
  height: 48px;
  appearance: none;
  font-family: $f-global-font;
  font-weight: 500;
  transition: all .4s ease;
  margin: 0;

  &:hover {
    outline: 0;
    border: 1px solid $c-primary;
  }

  &:active,
  &:focus {
    outline: 0;
    border: 1px solid $c-primary;
  }

  &.invalid {
    border-color: $c-error;
    color: $c-error;

    + .svg-icon {
      color: $c-error;
    }
  }

  &.m-error {
    color: $c-error;
  }

  &.m-valid {
    border-color: $c-success;
  }
}

.form-error {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  color: $c-error;
}
