html,
body {
  width: 100%;
  height: 100%;

  &.fixed {
    height: 0;
    overflow-y: hidden;
  }
}

/* stylelint-disable */
#app {
  height: 100%;
}

.grid-container {
  width: 100%;

  @include media-query("phablet") {
    max-width: 560px;
  }

  @include media-query("tablet") {
    max-width: 100%;
    width: 768px;
  }

  @include media-query("desktop") {
    width: 1024px;
  }

  @include media-query("desktop-large") {
    width: 1280px;
  }
}