<template>
  <router-view/>
</template>

<script>

import { getAuth, onAuthStateChanged } from 'firebase/auth'

export default {
  data () {
    return {
      user: {}
    }
  },
  created() {
    const auth = getAuth()
    onAuthStateChanged(auth, (user) => {
      if (user) {
        // ...
        console.log(user)
        this.user = user
      } else {
        // User is signed out
        console.log('not logged')
      }
    })
  }
}
</script>
