<template>
  <h3>TODO Lists</h3>
  <div class="inline-input-group">
    <input-text
      :input-type="'text'"
      :label="'Create todo group'"
      class="mr-4"
      v-model="todoCollection"
    />
    <cta-button variant="primary-small" @click="addTodoCollection()">Add</cta-button>
  </div>
  <ul class="menu-list-container my-4">
    <li class="pl-4 py-1" v-for="(collection, index) in allCollections" :key="index">
      <span class="menu-list-item" @click="selectTodoCollection(collection.id)">
        {{ collection.title }}
      </span>
    </li>
  </ul>
</template>

<script>

import TodoDataService from '@/services/TodoDataService.js'

import inputText from '@/components/inputs/InputText.vue'
import ctaButton from '@/components/buttons/CtaButton.vue'
export default {
  name: 'todo-collection',
  components: {
    inputText,
    ctaButton
  },
  data() {
    return {
      todoCollection: '',
      allCollections: []
    }
  },
  created () {
    this.getAllCollections()
  },
  methods: {
    getAllCollections () {
      TodoDataService.getAll()
        .then((collections) => {
          let todoCollection = []
          collections.forEach(doc => {
            var todo = doc.data()
            todo.id = doc.id
            todoCollection.push(todo)
          })
          this.allCollections = todoCollection
        })
    },
    addTodoCollection () {
      var data = {
        title: this.todoCollection
      }

      TodoDataService.create(data)
        .then(() => {
          console.log('Created new item successfully!')
          this.todoCollection = ''
          this.getAllCollections()
        })
        .catch(e => {
          console.log(e)
        })
    },
    addTodo () {
      var data = {
        title: this.tutorial.title,
        description: this.tutorial.description,
        complete: false
      }

      TodoDataService.createTodo(data)
        .then(() => {
          console.log('Created new item successfully!')
          this.submitted = true
        })
        .catch(e => {
          console.log(e)
        })
    }
  }
}
</script>

<style lang="scss">
.menu-list-item {
  border-bottom: 1px solid transparent;
  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
    padding-left: $spacing-2;
    border-bottom: 1px solid $c-border;
  }
}
</style>