<template>
  <div class="login-form-container p-4 sm:p-6" :class="wrapperClass">
    <div class="form-intro mb-6">
      <h4 class="m-0">Login / Register</h4>
    </div>
    <div class="input-group mb-4">
      <input-text
        :input-type="'email'"
        :label="'Email'"
        v-model="email"
      />
    </div>
    <div class="input-group mb-4">
      <input-text
        :input-type="'password'"
        :label="'Password'"
        v-model="password"
      />
      <small v-if="signupMsg" class="form-error">
        {{ signupMsg }}
      </small>
    </div>

    <div class="form-submit-container flex justify-between my-6">
      <cta-button type="button" :variant="'secondary'" @click="validateSignup()">Register</cta-button>
      <cta-button type="button" :variant="'primary'" @click="signIn()">Login</cta-button>
    </div>
  </div>
</template>

<script>
import AuthService from '@/services/AuthService.js'
import inputText from '@/components/inputs/InputText.vue'
import ctaButton from '@/components/buttons/CtaButton.vue'

export default {
  components: {
    inputText,
    ctaButton
  },
  data() {
    return {
      email: '',
      password: '',
      signupMsg: null
    }
  },
  props: {
    wrapperClass: {
      type: String,
      default: ''
    }
  },
  methods: {
    signIn() {
      console.log('login')
      AuthService.signIn(this.email, this.password)
        .then((userCredential) => {
          this.$store.dispatch('addUser', userCredential)
          this.$router.push('/app')
          console.log(userCredential)
        })
        .catch(error => {
          this.loginMsg = error.message
          console.error('ERROR', error)
        })
    },
    validateSignup() {
      if (this.password.length <= 5) {
        this.signupMsg = 'Password must be greater than 6 charactors'
      } else {
        this.signup()
      }
    },
    signup() {
      AuthService.register(this.email, this.password)
        .then(() => {
          this.$router.push('/app')
        })
        .catch(error => {
          this.signupMsg = error.message
        })
    },
    hideErrorMsg() {
      this.loginMsg = ''
      this.signupMsg = ''
    }
  }
}
</script>

<style lang="scss">

.login-form-container {
  background-color: $white;
  border-radius: 8px;
}
</style>