<template>
  <header>
    <div class="grid-container mx-auto p-4 xxl:p-6">
      <div class="grid gap-x-4 grid-cols-4 md:grid-cols-8 xl:grid-cols-12">
        <div class="col-span-full">
          <div class="flex justify-between items-center">
            <div class="">
              <logo-b />
              <!-- <logo-a /> -->
            </div>
            <div class="">
              <cta-button type="button" :variant="'primary'" @click="logout()">Log out</cta-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import AuthService from '@/services/AuthService.js'

import ctaButton from '@/components/buttons/CtaButton.vue'
import LogoA from '@/assets/images/logo-a.svg'
import LogoB from '@/assets/images/logo-b.svg'

export default {
  name: 'global-header',
  components: {
    ctaButton,
    'logo-a': LogoA,
    'logo-b': LogoB
  },
  methods: {
    logout() {
      AuthService.logout()
        .then(() => {
          console.log('logout success')
          this.$router.replace('/')
        })
        .catch((error) => {
          console.log('logout error ---> ', error)
        })
    }
  }
}
</script>